Repository stack-of-tasks/pinocchio, pull requests merged in 2025-07, with the labels that each got.

#2721 Update ROS section and CI badges in README
  README.md
Labels: no changelog

#2716 Fix mimic patch for CRBA
  CHANGELOG.md
  include/pinocchio/algorithm/check-data.hxx
  include/pinocchio/algorithm/crba.hxx
  unittest/utils/model-generator.hpp
Labels: pr status to review

#2734 Improve issue template and add PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  CHANGELOG.md
Labels: no changelog

#2728 CMake: allow use of system example-robot-data
  .github/workflows/linux.yml
  CHANGELOG.md
  CMakeLists.txt
  benchmark/CMakeLists.txt
  benchmark/timings-geometry.cpp
  benchmark/timings-parallel.cpp
  doc/d-practical-exercises/src/dpendulum.py
  examples/CMakeLists.txt
  examples/append-urdf-model-with-another-model.py
  examples/build-reduced-model.cpp
  examples/build-reduced-model.py
  examples/casadi/CMakeLists.txt
  examples/casadi/quadrotor-ocp.py
  examples/codegen/codegen-crba.cpp
  examples/collision-with-point-clouds.py
  examples/collisions.cpp
  examples/collisions.py
  examples/forward-dynamics-derivatives.cpp
  examples/geometry-models.cpp
  examples/geometry-models.py
  examples/gepetto-viewer.py
  examples/inverse-dynamics-derivatives.cpp
  examples/inverse-dynamics.cpp
  examples/kinematics-derivatives.cpp
  examples/meshcat-viewer-dae.py
  examples/meshcat-viewer.py
  examples/multiprecision.cpp
  examples/overview-urdf.cpp
  examples/overview-urdf.py
  examples/robot-wrapper-viewer.py
  examples/simulation-contact-dynamics.py
  examples/static-contact-dynamics.py
  flake.nix
  pyproject.toml
  unittest/CMakeLists.txt
  unittest/broadphase.cpp
  unittest/contact-dynamics-derivatives.cpp
  unittest/geometry-algorithms.cpp
  unittest/geometry-model.cpp
  unittest/mjcf.cpp
  unittest/packaging/cmake/CMakeLists.txt
  unittest/packaging/external/CMakeLists.txt
  unittest/packaging/pkgconfig/CMakeLists.txt
  unittest/parallel-geometry.cpp
  unittest/python/CMakeLists.txt
  unittest/python/bindings_build_geom_from_urdf_memorycheck.py
  unittest/python/bindings_contact_inverse_dynamics.py
  unittest/python/bindings_geometry_model_urdf.py
  unittest/python/bindings_urdf.py
  unittest/sdf.cpp
  unittest/srdf.cpp
  unittest/tree-broadphase.cpp
  unittest/urdf.cpp
Labels: build_all
