Repository stack-of-tasks/pinocchio, pull requests merged in 2025-01, with the labels that each got.

#2540 Nix: update flake lock
  .github/workflows/update-flake-lock.yml
  flake.lock
  flake.nix
Labels: no changelog

#2530 Fix var naming in Python
  CHANGELOG.md
  include/pinocchio/bindings/python/collision/broadphase-manager.hpp
  include/pinocchio/bindings/python/collision/tree-broadphase-manager.hpp
Labels: build_collision

#2564 clean useless uses of PINOCCHIO_WITH_CXX11_SUPPORT
  CHANGELOG.md
  include/pinocchio/bindings/python/fwd.hpp
  include/pinocchio/codegen/cppadcg.hpp
  include/pinocchio/container/boost-container-limits.hpp
  include/pinocchio/eigen-macros.hpp
  include/pinocchio/math/multiprecision.hpp
  include/pinocchio/multibody/liegroup/liegroup-base.hpp
Labels: build_codegen
